@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #ddd;
  --foreground: #000000;
}

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-lora: var(--font-lora), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-weight: 500;
}

.bg-secondary {
  background-color: var(--secondary);
}
